<!-- https://stackblitz.com/edit/angular-expandandselect-q4fmox?file=app/table-expandable-rows-example.html -->
<mat-toolbar color="primary">
    <mat-toolbar-row>
        <span>COVID-19 Report Tracker</span>
        <span class="example-spacer"></span>
        <span>Sandrapati Anilkumar</span>
    </mat-toolbar-row>
</mat-toolbar>

<div>
    <mat-form-field>
        <mat-label>Filter</mat-label>
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Ex. india">
    </mat-form-field>
</div>

<div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" matSort>

        <!-- country Column -->
        <ng-container matColumnDef="country">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Country </th>
            <td mat-cell *matCellDef="let element"> {{element.country}} </td>
        </ng-container>

        <!-- cases Column -->
        <ng-container matColumnDef="cases">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Cases </th>
            <td mat-cell *matCellDef="let element"> {{element.cases}} </td>
        </ng-container>

        <!-- todayCases Column -->
        <ng-container matColumnDef="todayCases">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> TodayCases </th>
            <td mat-cell *matCellDef="let element"> {{element.todayCases}} </td>
        </ng-container>

        <!-- deaths Column -->
        <ng-container matColumnDef="deaths">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Deaths </th>
            <td mat-cell *matCellDef="let element"> {{element.deaths}} </td>
        </ng-container>

        <!-- todayDeaths Column -->
        <ng-container matColumnDef="todayDeaths">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> TodayDeaths </th>
            <td mat-cell *matCellDef="let element"> {{element.todayDeaths}} </td>
        </ng-container>

        <!-- recovered Column -->
        <ng-container matColumnDef="recovered">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Recovered </th>
            <td mat-cell *matCellDef="let element"> {{element.recovered}} </td>
        </ng-container>

        <!-- active Column -->
        <ng-container matColumnDef="active">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Active </th>
            <td mat-cell *matCellDef="let element"> {{element.active}} </td>
        </ng-container>

        <!-- critical Column -->
        <ng-container matColumnDef="critical">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Critical </th>
            <td mat-cell *matCellDef="let element"> {{element.critical}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator [pageSizeOptions]="[10, 20, 30]" showFirstLastButtons></mat-paginator>
</div>